<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ dir }}/assets/mdl/main.css" rel="stylesheet">
    {% if isLogged %}<link href="{{ dir }}/assets/mdl/admin.css" rel="stylesheet">{% endif %}
  </head>
  <body>
    <div class="mdl-layout mdl-layout mdl-js-layout {% if isAdmin %}mdl-layout--fixed-drawer{% endif %} mdl-layout--fixed-header">
      <header class="mdl-header mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><a href="{{ dir }}/">{{ siteTitle }}</a></span>
        </div>
      </header>
      {% if isLogged %}
        <div class="mdl-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
          <header class="mdl-drawer-header">
            <i class="material-icons md-48 mdl-avatar">face</i>
            <div class="mdl-avatar-dropdown">
              <span>Hello administrator!</span>
              <div class="mdl-layout-spacer"></div>
              <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Account actions</span>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item"><a class="mdl-navigation__link" href="{{ dir }}/admin/logout"><i class="material-icons">exit_to_app</i>Wyloguj się</a></li>
              </ul>
            </div>
          </header>
          <nav class="mdl-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="{{ dir }}/admin">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">dashboard</i>
              Przegląd
            </a>
            {# <a class="mdl-navigation__link" href="{{ dir }}/admin/exams">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>
              Egzaminy
            </a>
            <a class="mdl-navigation__link" href="{{ dir }}/admin/groups">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">turned_in_not</i>
              Kategorie
            </a> #}
            <a class="mdl-navigation__link" href="{{ dir }}/admin/exam/add">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add</i>
              Dodaj test
            </a>
            {# <a class="mdl-navigation__link" href="{{ dir }}/admin/users">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>
              Użytkownicy
            </a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="{{ dir }}/admin/settings">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>
              Ustawienia
            </a> #}
          </nav>
        </div>
      {% endif %}

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h1 class="mdl-typography--display-2">{{ headerTitle }}</h1>
            </div>
          </div>
          <div>
            {% block content %}{% endblock %}
          </div>
        </div>
        <div class="mdl-layout-spacer"></div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Egzaminer</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="https://github.com/mklkj/egzaminer">GitHub</a></li>
              <li><a href="https://github.com/mklkj/egzaminer/issues">Report issue</a></li>
            </ul>
          </div>
          <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
              <li>
                <a class="mdl-navigation__link" href="https://github.com/mklkj/egzaminer/releases/tag/v{{ version }}">
                  v{{ version }}
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
    <script src="{{ dir }}/assets/mdl/main.js"></script>
    {{ flash|raw }}
  </body>
</html>