<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
      .alert h2 {
        margin-top: 5px;
      }
      label {
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ dir }}/">{{ siteTitle }}</a>
        </div>

        <div class="collapse navbar-collapse">
          {% if examsGroups %}
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Testy <span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% for item in examsGroups %}
                <li><a href="{{ dir }}/group/{{ item.id }}">{{ item.title }}</a></li>
              {% endfor %}
              </ul>
            </li>
          </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/mklkj/egzaminer">View project on GitHub</a></li>
              </ul>
            </li>
            {% if isLogged %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Witaj, adminie <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ dir }}/admin">Panel administracyjny</a></li>
                <li><a href="{{ dir }}/admin/test/add">Dodaj test</a></li>
                <li><a href="{{ dir }}/admin/logout">Wyloguj</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section class="container">
      <div class="page-header">
        <h1>{{ headerTitle }}</h1>
      </div>

      {{ flash|raw }}

      <div>
        {% block content %}{% endblock %}
      </div>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>