{% extends "admin/layout.twig" %}

{% block content %}
  <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">

    <a href="{{ dir }}/admin/exam/edit/{{ examID }}" class="btn btn-default">
      Wróć do edycji testu
    </a>

    {% if templateType == 'edit' %}
      <a href="{{ dir }}/admin/exam/edit/{{ examID }}/question/add" class="btn btn-default">
        Dodaj nowe pytanie
      </a>
    {% endif %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" name="submit" class="btn btn-primary pull-right">Zapisz</button>
      </div>
    </div>

    <div class="form-group">

      <label class="col-sm-2 control-label" for="question">Pytanie</label>

      <div class="col-sm-10">
        <textarea name="question[content]" id="question" class="form-control"
        rows="2">{{ question.content }}</textarea>
      </div>
    </div>

    {% for item in answers %}
      <div class="form-group">

        <label class="col-sm-2 control-label" for="answer_{{ loop.index }}">
          Odpowiedź {{ loop.index }}.
        </label>

        <div class="col-sm-1">
          <input
            class="form-control"
            name="question[correct]"
            type="radio"
            value="{{ item.id }}"
            {% if question.correct == item.id %}checked{% endif %}
          >
        </div>

        <div class="col-sm-9">
          <input
            class="form-control"
            id="answer_{{ loop.index }}"
            name="answers[{{ item.id }}]"
            placeholder="Odpowiedź {{ loop.index }}."
            type="text"
            value="{{ item.content }}"
          >
        </div>
      </div>
    {% endfor %}

    {% if templateType == 'edit' %}
      <hr>

      <div class="form-group">

        <label class="col-sm-2 control-label">Miniatura</label>

        <div class="col-sm-3">
          <input type="hidden" name="MAX_FILE_SIZE" value="2000000">
          <p><input name="image" type="file"></p>

          {% if question.image %}
            <label>
              <input type="checkbox" name="question[delete-img]" value="1">
              Usuń obrazek
            </label>
          {% endif %}
        </div>
        <div class="col-sm-7">
          {% if question.image %}
            <a href="{{ dir }}/storage/{{ id }}_{{ question.image }}" target="_blank">
              <img src="{{ dir }}/storage/{{ id }}_{{ question.image }}"
              class="img-responsive" alt="obrazek do pytania">
            </a>
          {% endif %}
        </div>
      </div>
    {% endif %}

  </form>
{% endblock %}